# Application URLs
website_domain="http://localhost:3000"

# Database configuration
db_url_sync=...
db_url_async=...
redis_url=...

# Storage configuration
storage_endpoint_url=...
storage_access_key=...
storage_secret_key=...
storage_region=...
bucket_name=...
image_folder=...
invoice_folder=...

#Pagination Configuration
size_page=25

# Auth Configuration
supertoken_host="0.0.0.0"
supertoken_port=3567
tenant_id=...
default_role=...
dashboard_api_key=...
google_client_id=...
google_client_secret=...

# SMTP Configuration
smtp_server=...
smtp_port=...
smtp_user=...
smtp_pass=...

# Observability
logfire_token=...

# Company information
company_name=Your Company Name
company_address=1234 Your Street, Your City, Your Country
company_phone=+1234567890
company_email=your_corp_email@gmail.com

# Additional configurations
footer_message=© 2026 Your Company Name. All rights reserved.
